@import '../../../styles/styles';
@import '../../../styles/mixins'; 

.header {
  @include outerParts(3%, 82%, 85%, 3%, 3.5em);
}

.eat {
  @include titleScore(3.5em, 60px 0px 20px 155px, center);
}

.full {
  @include titleScore(6em, 0px 0px 0px 60px, center);
}

.icons {
  display: flex;
  justify-content: center;

  button {
    @include buttons(40px 0px 50px 10px);
  }

  .fa-carrot {
    @include icons(12px, $eat-color, 0px);
  }

  .fa-ice-cream {
    @include icons(12px 15px, $eat-color, 0px);
  }

  .fa-carrot:hover {
    @include iconsHover($eat-color);
  }

  .fa-ice-cream:hover {
    @include iconsHover($eat-color);
  }
}

#eat {
  @include quad($eat-color, 20em 0em 0em 0em);
}

.pink:hover {
  color: #FF76DA;
  cursor: default;
  transition: ease-in 50ms;
}

.blue:hover {
  color: #719CFF;
  cursor: default;
  transition: ease-in 50ms;
}

.yellow:hover {
  color: #FFE972;
  cursor: default;
  transition: ease-in 50ms;
}

.green:hover {
  color: #8BFF8F;
  cursor: default;
  transition: ease-in 50ms;
}
