@import '../../styles/styles';
@import '../../styles/mixins';

.reset {
  // 576px window width and more
  @include sm {
    @include outerParts(4.8%, 50%, 3%, 46.5%, 1.5em);
  }

  // 992px window width and more
  @include lg {
    @include outerParts(92%, 85%, 3%, 5%, 1.5em);
  }

  a {
    border: 3px solid $primary-color;
    padding: 6px 15px 8px 15px;
    border-radius: 3em;
    transition: ease-in 150ms;
  }

  a:hover {
    background-color: $primary-color;
    color: $base-color;
    cursor: pointer;
  }
}

.fight {
  // 576px window width and more
  @include sm {
    @include titleScore(3.5em, 40px 0px 0px 0px, center);
  }

  // 992px window width and more
  @include lg {
    @include titleScore(3.5em, 40px 30px 20px 0px, center);
  }
}

.strength {
  // 576px window width and more
  @include sm {
    @include titleScore(6em, 20px 0px 0px 0px, center);
  }

  // 992px window width and more
  @include lg {
    @include titleScore(6em, 0px 0px 0px 20px, center);
  }
}

.icons {
  display: flex;
  justify-content: center;

  button {
    @include buttons(25px 0px 50px 10px);
  }

  .fa-running {
    @include icons(12px 15px, $fight-color, 0px 0px 0px 0px);
  }

  @include sm {
    .fa-hand-rock {
      @include icons(13px 12px, $fight-color, 0px);
    }
  }

  @include lg {
    .fa-hand-rock {
      @include icons(13px 12px, $fight-color, 0px 0px 0px 120px);
    }
  }

  .fa-running:hover {
    @include iconsHover($fight-color);
  }

  .fa-hand-rock:hover {
    @include iconsHover($fight-color);
  }
}

#fight {
  // 576px window width and more
  @include sm {
    @include phone($fight-color);
  }

  // 992px window width and more
  @include lg {
    @include quad($fight-color, 0em 0em 0em 20em);
  }
}
