@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

$primary-color: #707070;
$secondary-color: #505050;
$base-color: #E8E7E4;
$eat-color: #FF76DA;
$play-color: #719CFF;
$fight-color: #FFE972;
$sleep-color: #8BFF8F;

$primary-font: 'VT323', monospace;
