@import 'styles';

body {
  background-color: $base-color;
  font-family: $primary-font;
}

#app {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 50%;
  align-items: flex-end;
}
