@import '../../styles/styles';
@import '../../styles/mixins';

.copyright {
  // 576px window width and more
  @include sm {
    visibility: hidden;
  }

  // 992px window width and more
  @include lg {
    @include outerParts(92%, 0%, 3%, 85%, 1.5em);
    visibility: visible;
  }
}

.sleep {
  // 576px window width and more
  @include sm {
    @include titleScore(3.5em, 40px 0px 0px 0px, center);
  }

  // 992px window width and more
  @include lg {
    @include titleScore(3.5em, 41px 30px 20px 0px, center);
  }
}

.energy {
  // 576px window width and more
  @include sm {
    @include titleScore(6em, 20px 0px 0px 0px, center);
  }

  // 992px window width and more
  @include lg {
    @include titleScore(6em, 0px 90px 0px 0px, center);
  }
}

.icons {
  display: flex;
  justify-content: center;

  button {
    @include buttons(40px 0px 50px 10px);
  }

  .fa-bed {
    @include icons(15.5px 10.5px, $sleep-color, 0px 0px 0px 0px);
    font-size: 2.6em;
  }

  @include sm {
    .nap-text {
      @include icons(5px 14px 15px 14px, $sleep-color, 0px 10px 0px 0px);
    }
  }

  @include lg {
    .nap-text {
      @include icons(5px 14px 15px 14px, $sleep-color, 0px 140px 0px 0px);
    }
  }

  .fa-bed:hover {
    @include iconsHover($sleep-color);
  }

  .nap-text:hover {
    @include iconsHover($sleep-color);
  }
}

#sleep {
  // 576px window width and more
  @include sm {
    @include phone($sleep-color);
  }

  // 992px window width and more
  @include lg {
    @include quad($sleep-color, 0em 0em 20em 0em);
  }
}
